
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



*{

  margin: 0px;
  padding: 0px;
  font-family: "Azeret Mono", monospace;
  
}

.banner{
    background-image: url(assets/Hero-bg.png);
     max-width: 1520px;
    height: 652px;
    
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 26px;
    
}
.font-1{
    text-align: center;
    margin-top: 30px;
    font-weight:bold;
    font-size: 44px;
    color: #0D1321;
}
.btn{
    width: 180px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    margin-left: 680px;
    background-color: #0D1321;
    color: #FFFFFF;
}
/*.................header closed.......................*/

.main{
    width: 946px;
    margin: 0px auto;
    height: 1395px;
    margin-top: 90px;
    color: rgba(13, 19, 33, 0.7);
}
.font-3{
    text-align: center;
}
.main-container{
     margin-top: 60px;
     display: flex;
     justify-content: space-between;
     gap: 50px;
}

.btn-2{
    width: 172px;
    height: 47px;
    border-color: #0D1321;
    margin-top: 29px;
    text-align: center;
}

.web{
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
    gap: 50px;
}
.me{
    margin-top: 25px;
}

.she{
    margin-top: 70px;
    display: flex;
    justify-content:space-between;
    gap: 90px;
}

.lucky{
    text-align: center;
    margin-top: 40px;
}
.My{
    text-align: center;
    margin-top: 70px;
    color: #0D1321;
}

.para{
    font-style: normal;
    font-size: small;
}
.main-div{
    margin: 0px auto;
    width: 90%;
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    gap: 30px;
    color: #0D1321;

}
.second-div{
    background-color: rgba(255, 76, 30, 0.05);
    text-align: left;
    
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
.thrid-div{
    text-align: left;
    background-color:#FFFFFF;
}
.four-div{
    text-align: left;
    background-color: rgba(255, 223, 0, 0.05);
}
  
.size{
    color:#0D1321;
}

.i{
    
   display: flex;
   align-items: center;
}
.ju{
    margin-top: 50px;
    width: 1140px;
    background-image: url(assets/handshake.jpg);
    background-repeat: no-repeat;
    height: 300px;
    justify-content: center;
    
    
    
}
.font-4{
    font-size: ;
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
    margin-top: 40px;
}
.font-5{
    color:aliceblue;
    text-align: center;
    margin-top: 10px;
}
.form{
    width: 548px;
    height: 57px;
    margin-top: 30px;
    margin-left: 40px;
}
.submit{
    width: 120px;
    height: 57px;
    margin-top: 40px;
    margin-left: 40px;
}
footer{
    height: 200px;
    margin-top: 50px;
    width: 90%;
    margin: 0 auto;
}
.mainf{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    height: 100px;

}